*,*::before,*::after{box-sizing:border-box;}ul[class],ol[class]{padding:0;}body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0;}

:root {
    --cellTransition: 0.5s;

    --zoomLevel: 1;
}
#window {
    zoom: var(--zoomLevel);
    width: 100%;
    height: calc(100vh / var(--zoomLevel));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#statistics {
    margin-left: 50px;
    width: 600px;
    height: 300px;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 20px;
}
.stats {
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    transition: 0.3s;
}
.stats.hiden {
    opacity: 0;
}
.st_col {
    height: 100%;
    border: 1px solid #000;
    width: 50px;

    transition: 1s;
}
.homeland_area {
    border: 6px dashed #000;
    border-radius: 4px;
    position: absolute;
    width: 160px;
    height: 160px;
    pointer-events: none;
}
.homeland_area.hiden {
    opacity: 0;
    transition: 1s;
}
.homeland_area.on_player_turn {
    border-width: 3px;
    transition: 0.2s;
}
.homeland_area.after_player_turn {
    border-width: 6px;
    transition: 0.2s;
}


#container {
    border: 5px solid rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    padding: 15px;
    transition: 1s;
}
#table {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px; 
}
.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    transition: var(--cellTransition);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 2;
}
.cell .dot {
    width: 10px;
    height: 10px;
    background: #404040;
    border-radius: 50%;
    margin: 0 3px;
    margin: 2.5px;
    pointer-events: none;
}
.nums_holder {
    position: absolute;
    top: 0;
    left: 0;
}
.numbers {
    position: absolute;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #000;
    border-radius: 5px;

    user-select: none;
}
.boom_circle {
    position: absolute;

    top: 100px;
    left: 100px;
    width: 50px;
    height: 50px;

    border-radius: 50%;

    transform-origin: center;

    opacity: 0.8;

    transition: 1s;
}

.scale_circle {
    transform: scale(3);

    opacity: 0;
}

.better_borders {
    border-spacing: 0;
}
.better_borders td {
    padding: 0;
}
.better_borders .cell {
    border: 1px solid #000;
    border-radius: 0;
}