.box_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#home {
  padding: 50px;
}
#home .title_wrapper {
  display: flex;
  justify-content: center;
}
#home .title_wrapper .title_container {
  border-radius: 10px;
  border-bottom: 5px solid #04AA6D;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px 0;
  padding-right: 20px;
}
#home .title_wrapper .title {
  font-size: 4rem;
  color: #666;
  padding: 0 20px;
  margin-right: 20px;
}
#home .title_wrapper .dots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border: 3px solid #04AA6D;
  padding: 5px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
#home .title_wrapper .dots div {
  background-color: #04AA6D;
  border-radius: 50%;
}

#home .menu_wrapper {
  font-family: system-ui;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#home .menu_wrapper .menu_container {
  width: 600px;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 50px;
}

#home .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}
#home .menu .router_link {
  text-decoration: none;
  width: 350px;
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px;
  border: 10px solid #04AA6D;
  border-radius: 20px;
  background-color: #04AA6D;
  color: #fff;
}
#home .menu .router_link:hover {
  opacity: 0.8;
}
#options {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#options #container {
  margin: 50px 0;
  width: 90%;
  border: 10px solid #ddd;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f3f3;
}
#options #options_ui {
  border-right: 5px solid #ddd;
}
#options #options_description {
  border-left: 5px solid #ddd;
}
#options .sections_holder, #options #options_ui, #options #options_description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#options section {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}
#options section h3 {
  color: #04AA6D;
  text-align: center;
}

#options fieldset {
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: rgba(102, 102, 102, 0.2);
}
#options fieldset.slider_holder {
  padding-bottom: 25px;
}
#options fieldset.no_slider {
  padding-bottom: 15px;
}

#options .vue-slider {
  margin: 0 20px;
}
#options .vue-slider .vue-slider-process {
  background-color: #04AA6D;
}
#options .vue-slider .vue-slider-mark-label {
  font-size: 12px;
}
#options .vue-slider .vue-slider-dot-handle-focus {
  background-color: #fff;
  box-shadow: 0.5px 0.5px 2px 1px #04AA6D;
}

#options .slider_replacement {
  display: grid;
  grid-template-columns: auto 30px auto;
}
#options .slider_replacement .half_line {
  border-bottom: 2px solid #04AA6D;
  margin: 0 10px;
  align-self: center;
}
#options .slider_replacement .number {
  color: rgba(0, 0, 0, 0.8);
  border: 3px solid rgba(4, 170, 109, 0.8);
  background: rgba(4, 170, 109, 0.15);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: center;
  transform: rotate(45deg);
}
#options .slider_replacement .number div {
  transform-origin: center;
  transform: rotate(-45deg);
}

#options .dropdown .dropdown_button {
  cursor: pointer;
  font-size: 16px;
  background: none;
  border: 2px solid rgba(102, 102, 102, 0.2);
  color: #666;
  border-radius: 5px;
  transition: 0.5s;
  padding: 0 5px;
}
#options .dropdown .dropdown_button:hover, #options .dropdown .dropdown_button.active {
  border-color: #04AA6D;
}
#options .dropdown .dropdown_button i {
  color: #04AA6D;
}
#options .dropdown .content {
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  z-index: 6;
  min-width: 160px;
}
#options .dropdown .content .dropdown_option {
  cursor: pointer;
  padding: 4px;
  padding-left: 10px;
  margin: 3px;
  border-radius: 5px;
}
#options .dropdown .content .dropdown_option:hover {
  background-color: #e6e6e6;
}

#options .summary {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: #737373;
}
#options .summary .map_size {
  border: 2px solid #999999;
  padding: 2px 4px;
  border-radius: 5px;
  margin-left: 10px;
}

#options .checkbox {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
#options .checkbox span {
  padding: 3px;
  border-radius: 5px;
}
#options .checkbox:hover span {
  background-color: #f3f3f3;
}
#options .checkbox input {
  cursor: pointer;
  transform: scale(1.3);
  margin-left: 5px;
  margin-right: 8px;
  accent-color: #04AA6D;
}
#options .checkbox.inactive {
  pointer-events: none;
  cursor: none;
  opacity: 0.5;
}

#options #description {
  height: 220px;
}
#options #description h4 {
  color: #404040;
  margin: 5px 0;
}
#options #description #part_descr {
  display: flex;
}
#options #description #part_descr .arrow {
  padding: 6px;
  padding-left: 3px;
  padding-top: 0px;
  font-size: 1.4rem;
  color: #04AA6D;
}/*# sourceMappingURL=guiStyle.css.map */