\:root
  --cell_transition: 0.5s

  --zoomLevel: 1

$green: #04AA6D
$lightgrey: #f3f3f3
$grey: #ddd
$textgrey: #666

html, body 
  height: 100% 

#app
  // height: 100vh
#window
  // height: 100vh
  opacity: 1
  transition: 0.3s
  &.hiden
    opacity: 0
.gui_wrapper
  height: 100vh
  display: flex
  align-content: stretch
  align-items: stretch
  padding: 20px 0
.wrapper
  zoom: var(--zoomLevel)
  display: flex
  align-items: center
  justify-content: center
  // height: calc(100vh / var(--zoomLevel))
  overflow: hidden
  // padding: 20px
  .container
    border: 5px solid rgba(0, 0, 0, 0.479)
    border-radius: 10px
    padding: 15px
    transition: 1s
    &.no_border_radius
      border-radius: 0

#table
  margin: 0 auto
  background-color: rgb(255, 255, 255)
  border-radius: 5px
#table.better_borders
  border-spacing: 0
  td
    padding: 0
  .cell
    border: 1px solid #000
    border-radius: 0

.cell
  width: 50px
  height: 50px
  border: 2px solid #000
  border-radius: 5px
  transition: var(--cell_transition)
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-content: center
  z-index: 2

  .dot
    width: 10px
    height: 10px
    background: #404040
    border-radius: 50%
    margin: 0 3px
    margin: 2.5px
    pointer-events: none

.boom_circle
  position: absolute
  top: 100px
  left: 100px
  width: 50px
  height: 50px
  border-radius: 50%
  transform-origin: center
  opacity: 0.8
  transition: 1s
  pointer-events: none

  &.scale_circle
    transform: scale(3)
    opacity: 0
.bot_pointer
  display: block
  position: absolute
  font-size: 2rem
  transition: 0.5s
  pointer-events: none
  transform-origin: center
  transform: translate(0, 0)
  opacity: 1
  &.hiden
    opacity: 0
    transform: translate(0, 20px)
  &.fade
    opacity: 0
    transform: scale(0.5)

.homeland_area
  border: 6px dashed #000
  border-radius: 4px
  position: absolute
  width: 160px
  height: 160px
  pointer-events: none
  zoom: var(--zoomLevel)
  z-index: 1
  &.hiden
    opacity: 0
    transition: 1s
  &.on_player_turn
    border-width: 3px
    transition: 0.2s
  &.after_player_turn
    border-width: 6px
    transition: 0.2s

  
// ingame gui

.side_bar
  font-family: system-ui
  flex: 1
  display: flex
  align-items: start
  // padding: 20px
.side_bar #messages
  background-color: #333333
  padding: 5px
  padding-top: 2px
  border-radius: 5px
  border: 5px solid $green
  max-width: 200px
#go_back_button
  position: absolute
  top: 20px
  left: 20px
  font-size: 3rem
  line-height: 14px
  height: 25px
  cursor: pointer
  opacity: 0.2
  transition: 0.5s
  border-radius: 5px
  &:hover
    transform: scale(1.2)
    color: $green
    opacity: 1
  &.highlight
    opacity: 1
    color: $green

#win_overlay
  position: absolute
  min-width: 400px
  height: 200px
  top: 20%
  left: 50%
  transform: translate(-50%, -20%)
  border: 10px solid $green
  border-radius: 15px
  backdrop-filter: blur(8px)
  background-color: transparentize(black, 0.2)
  z-index: 2
  font-size: 3rem
  display: flex
  justify-content: center
  align-items: center
  font-family: sans-serif
  padding: 40px
  white-space: nowrap
  transition: 1s
  &.hidden
    pointer-events: none
    opacity: 0
    transform: translate(-50%, -150%)
    
@media (pointer: none), (max-height: 600px)
  #win_overlay
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@media screen and (orientation: portrait) 
  html.rotated
    transform: rotate(-90deg)
    transform-origin: left top
    width: 100vh
    height: 100vw
    overflow-x: hidden
    position: absolute
    top: 100%
    left: 0
  .gui_wrapper
    padding: 0
  
  


// some unused code for now

// #statistics
//   margin-left: 50px
//   width: 600px
//   height: 300px
//   border: 3px solid #000
//   border-radius: 30px
//   padding: 20px
// .stats
//   width: 100%
//   height: 100%

//   display: flex
//   justify-content: space-evenly
//   align-items: flex-end
//   transition: 0.3s

//   &.hiden
//     opacity: 0
// .st_col
  height: 100%
  border: 1px solid #000
  width: 50px
  transition: 1s