:root {
  --cell_transition: 0.5s;
  --zoomLevel: 1;
}

html, body {
  height: 100%;
}

#window {
  opacity: 1;
  transition: 0.3s;
}
#window.hiden {
  opacity: 0;
}

.gui_wrapper {
  height: 100vh;
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.wrapper {
  zoom: var(--zoomLevel);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper .container {
  border: 5px solid rgba(0, 0, 0, 0.479);
  border-radius: 10px;
  padding: 15px;
  transition: 1s;
}
.wrapper .container.no_border_radius {
  border-radius: 0;
}

#table {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#table.better_borders {
  border-spacing: 0;
}
#table.better_borders td {
  padding: 0;
}
#table.better_borders .cell {
  border: 1px solid #000;
  border-radius: 0;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 5px;
  transition: var(--cell_transition);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  z-index: 2;
}
.cell .dot {
  width: 10px;
  height: 10px;
  background: #404040;
  border-radius: 50%;
  margin: 0 3px;
  margin: 2.5px;
  pointer-events: none;
}

.boom_circle {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform-origin: center;
  opacity: 0.8;
  transition: 1s;
  pointer-events: none;
}
.boom_circle.scale_circle {
  transform: scale(3);
  opacity: 0;
}

.bot_pointer {
  display: block;
  position: absolute;
  font-size: 2rem;
  transition: 0.5s;
  pointer-events: none;
  transform-origin: center;
  transform: translate(0, 0);
  opacity: 1;
}
.bot_pointer.hiden {
  opacity: 0;
  transform: translate(0, 20px);
}
.bot_pointer.fade {
  opacity: 0;
  transform: scale(0.5);
}

.homeland_area {
  border: 6px dashed #000;
  border-radius: 4px;
  position: absolute;
  width: 160px;
  height: 160px;
  pointer-events: none;
  zoom: var(--zoomLevel);
  z-index: 1;
}
.homeland_area.hiden {
  opacity: 0;
  transition: 1s;
}
.homeland_area.on_player_turn {
  border-width: 3px;
  transition: 0.2s;
}
.homeland_area.after_player_turn {
  border-width: 6px;
  transition: 0.2s;
}

.side_bar {
  font-family: system-ui;
  flex: 1;
  display: flex;
  align-items: start;
}

.side_bar #messages {
  background-color: #333333;
  padding: 5px;
  padding-top: 2px;
  border-radius: 5px;
  border: 5px solid #04AA6D;
  max-width: 200px;
}

#go_back_button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  line-height: 14px;
  height: 25px;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.5s;
  border-radius: 5px;
}
#go_back_button:hover {
  transform: scale(1.2);
  color: #04AA6D;
  opacity: 1;
}
#go_back_button.highlight {
  opacity: 1;
  color: #04AA6D;
}

#win_overlay {
  position: absolute;
  min-width: 400px;
  height: 200px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  border: 10px solid #04AA6D;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  padding: 40px;
  white-space: nowrap;
  transition: 1s;
}
#win_overlay.hidden {
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -150%);
}

@media (pointer: none), (max-height: 600px) {
  #win_overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */